EVENT_DB_URL=jdbc:mysql://localhost:3306/campus_event_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
EVENT_DB_USER=YOUR_DB_USER
EVENT_DB_PASSWORD=YOUR_DB_PASSWORD
